body{
    margin: 0;
    background-color: teal;
     font-family: 'Dancing Script', cursive;

 }
<header{
    background-color: red;
}
header h1{
    color: goldenrod;

     
     padding-bottom: 50px;
     font-size: 50px;
}
header img {
    border-radius: 250px;
    border-image-width: 250px;
    border: 10px solid whitesmoke ;

}
main{
    max-width: 800px;
    margin: 0 auto;
}
main img{
    max-width: 100%;
}



